.sect {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 80px;
}

.sect1 {
  display: flex;
  width: 35%;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  padding: 35px 15px;
  justify-content: space-evenly;
  background: rgba(163, 209, 105, 0.7);
  box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

.sect1 img {
  width: 80px;
  /* height: 50px; */
}
.sect2 img {
  width: 100px;
}

.sect1 button,
.sect2 button {
  border: 3px solid black;
  background-color: transparent;
  padding: 5px 8px;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 800;
  font-size: x-small;
  color: #000;
}

.sect2 {
  display: flex;
  width: 35%;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  padding: 35px 15px;
  justify-content: space-evenly;
  background: rgba(255, 248, 90, 0.7);
  box-shadow: 8px 8px 4px 0px rgba(31, 6, 6, 0.25);
}

h3{
  font-weight: 900;
  font-size: larger;
}

p{
  font-size: 14px;
}