.sect {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 80px;
}

.sect1 {
  background: rgba(163, 209, 105, 0.7);
  box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

.sect2 {
  background: rgba(255, 248, 90, 0.7);
  box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
}
